<div class="gray-background white-text">
  <section class="wow fadeIn animated">
    <div class="container NoticiaText upper-padding">
      <div class="col-md-8 col-md-offset-2">
        <div class="page-header center">
          <h1>Events <small class="apply-small"></small></h1>
        </div>

        <div class="panel panel-default center">

          <div class="panel-heading">
            <h3 class="panel-title">
              <a
                href="https://calendar.google.com/calendar?cid=NnZmdGdrMnBrMmpwczM0OTNvMDFxcnVmbmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
                target="_blank">
                <b>
                  Follow our Google Calendar!
                </b>
              </a>
            </h2>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">Summer Mixers</h3>
          </div>
          <div class="panel-body black-text">
            Catch up with your fellow Skulls at any of our mixers happening across
            the country!
            <br/><br/>
            Event info TBD - RSVP by reaching out to your regional chair.
            <br/><br/>
            <center>
              <table style="width:70%">
              <tr>
                <th>Locations</th>
                <th>Name</th>
                <th>Contact</th>
              </tr>
              <tr>
                <td>Baltimore, MD</td>
                <td>Saad Shamshair</td>
                <td>saadshamshair@gmail.com</td>
              </tr>
              <tr>
                <td>Boston, MA</td>
                <td>Aditya Parikh</td>
                <td>aparikh0694@gmail.com</td>
              </tr>
              <tr>
                <td>Chicago, IL</td>
                <td>Maryann Derlan</td>
                <td>maryanndernlan@gmail.com</td>
              </tr>
              <tr>
                <td>Los Angeles, CA</td>
                <td>Zack Morrison</td>
                <td>zmorrison18@gmail.com</td>
              </tr>
              <tr>
                <td>New York, NY</td>
                <td>Alex Mahgoub</td>
                <td>mahgoub.alex@gmail.com</td>
              </tr>
              <tr>
                <td>San Francisco, CA</td>
                <td>Vetri Velan</td>
                <td>velanvetri5@gmail.com</td>
              </tr>
              <tr>
                <td>Washington, D.C.</td>
                <td>Saad Shamshair</td>
                <td>saadshamshair@gmail.com</td>
              </tr>
              </table>
            </center>
          </div>

          <div class="panel-heading">
            <h3 class="panel-title">Founder's Day</h3>
          </div>
          <div class="panel-body black-text">
            Join us on Saturday, January 18th at 6pm at the Rutgers Club for an
            evening of celebration as we kick off our 120th anniversary! Enjoy
            food and cocktails as you catch up with your classmates while hearing
            about everything we have in store for 2020 and beyond. Questions?
            Email events@capandskull.org.
          </div>

          <div class="panel-heading">
            <h3 class="panel-title">120th Anniversary Gala Weekend</h3>
          </div>
          <div class="panel-body black-text">
            Celebrate our 120th anniversary all weekend long! Join us on the weekend
            of November 7-8 for Convocation in Kirkpatrick Chapel when we’ll pin
            the class of 2020, lunch at the Alumni House, and afternoon activities
            featuring alumni of all decades before the main event - our evening
            decade dinner gala. We’ll cap the weekend off with a jazz brunch on
            Sunday. Stay tuned for a complete schedule and registration details.
            Questions? Email events@capandskull.org.
          </div>

        </div>

      </div>
    </div>
  </section>
</div>
