<div class="gray-background white-text">
  <section class="wow fadeIn animated">
    <div class="container NoticiaText upper-padding">
      <div class="col-md-8 col-md-offset-2">
        <div class="page-header center">
          <h1>Apply now <small class="apply-small"></small></h1>
        </div>

        <div class="panel panel-default center">
          <div class="panel-heading">
            <h3 class="panel-title">Richard M. Hale Cap & Skull Scholarship</h3>
          </div>
          <div class="panel-body black-text">

On an annual basis, the Cap & Skull Society awards the Richard M. Hale Cap & Skull Memorial Scholarship to rising juniors exhibiting the qualities of academic excellence and extracurricular involvement early in their college careers regardless of financial need.
<br /><br />
To be eligible for the Scholarship, students must achieve a minimum 3.0 cumulative grade point average after the first term of their sophomore year and be enrolled in any undergraduate program at Rutgers, New Brunswick/Piscataway as a full-time student in the School of Arts and Sciences, the Ernest Mario School of Pharmacy, the School of Engineering, or the Mason Gross School of the Arts.
<br /><br />
 <a id="application-clicked" href="../../storage/Hale_Scholarship_Application_2018.docx">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              Apply for the Richard M. Hale Cap & Skull Memorial Scholarship by clicking here to Download the Application
            </a><br /><br />


All applications must be received by 5PM on Sunday, July 15, 2018. Applications must be submitted as a Microsoft Word Document via email to capandskullscholarship1766@gmail.com. Late applications will not be accepted.  No exceptions.
<br /><br />
Questions about the Richard M. Hale Cap & Skull Memorial Scholarship may be addressed to Caryn Burstein at capskullscholarship1766@gmail.com.

            </div>
        </div>

      </div>
    </div>
  </section>
</div>

  <script type="text/javascript">
    
    $("#application-clicked").click(function() {
      $.ajax({
        url:'/api/v0.1/statistics',
        data: 'href=' + $(this).attr('href').replace(" ", "%20"),
        type:'POST',
        success: function(data) {
        },
        fail: function(data) {
        }
      })
    });
    $(document).ready(function() {
      console.log($("#application-clicked").attr("href"));
      $("#apply-result").hide();
      var email = "";
      $('#application-form').ajaxForm({
        success: function(res, status, xhr, form) {
          $("#apply-result").attr('class', 'alert alert-success center');
          $("#apply-result").html("Successfully applied! Please check " + email + " for your confirmation email.");
          $("#submit-application").removeClass('disabled');
        },
        error: function(data) {
          $("#apply-result").attr('class', 'alert alert-danger center');
          $("#apply-result").html("Error - please try again or email dummyemail for help.");
          $("#submit-application").removeClass('disabled');
        }
      });
      $("#submit-application").click(function() {
        email = $("#email-address").val();
        $("#apply-result").html("Uploading...<img src=\"/static/img/spinner2.gif\" alt=\"Spinner\" height=\"20\" width=\"20\">");
        $("#apply-result").attr("class", "alert alert-warning center");
        $("#apply-result").fadeIn();
        $("#submit-application").addClass('disabled');
      });
    });
  </script>
